* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}

html, body {
  height: 100%;
}

body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom:0;
  z-index: 500;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #3CA647;
  width: 50%;
}

::-webkit-scrollbar {
  width: 8px;
  background: #01090a;
}

::-webkit-scrollbar-thumb {
  background: #10df1a;
}

::-webkit-scrollbar-thumb:active {
  background-color: #1c3236;
}

.green {
  color: #5FFF5B;
}

.burger {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: none;
  position: relative;
  width: 34px;
  height: 23px;
}

.burger::before {
  content: '';
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}

.burger span {
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 10px;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 3px;
  background: #fff;
}

.burger::after {
  content: '';
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}

.button-text {
  display: block;
  margin-right: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 122%;
  color: #FFFFFF;
  position: relative;
}

.button-text::after {
  content: url("../img/arrow.svg");
  -webkit-transition: 0.12s ease-in-out;
  transition: 0.12s ease-in-out;
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translate(100%, -15px);
          transform: translate(100%, -15px);
}

.button-text:hover::after {
  right: 3px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background: #0D1C1F;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.header__inner {
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1720px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1281px) {
  .logo:hover {
    margin-left: 8px;
  }
}

.logo__img {
  display: inline-block;
}

.logo__content {
  display: inline-block;
  margin-left: 9px;
}

.logo__title {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: inline-block;
  margin: 0px 10px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__link:hover {
  color: #d3d3d3;
}

.nav__link--active {
  color: #4ADC59;
}

.nav__link--active:hover {
  color: #4ADC59;
}

.about {
  background: url("../img/about_background.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.about__content {
  min-height: 690px;
  padding-top: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-bottom: 35px;
}

.text {
  margin-top: 20px;
  font-family: 'Mina', sans-serif;
  font-size: 25px;
  line-height: 119%;
  color: #FFFFFF;
}

.text:first-child {
  margin-top: 0;
}

.text.low {
  margin-top: 15px;
  font-size: 18px;
}

.text.trim {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .text {
    font-size: 23px;
  }
}

@media screen and (max-width: 1000px) {
  .burger {
    position: absolute;
    z-index: 45;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
  .burger.active {
    -webkit-transform: rotate(45deg) translateX(-25%);
            transform: rotate(45deg) translateX(-25%);
  }
  .burger.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
    left: 0;
  }
  .burger.active span {
    opacity: 0;
  }
  .nav {
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #0D1C1F;
    visibility: hidden;
  }
  .nav__item {
    margin: 0;
    margin-top: 20px;
  }
  .nav__item:first-child {
    margin-top: 0;
  }
  .nav__link {
    font-size: 30px;
  }
  .nav.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .about {
    height: 100%;
    padding-bottom: 50px;
  }
  .about::after {
    height: 750px;
  }
  .text {
    font-size: 21px;
  }
  .logo {
    position: relative;
    z-index: 45;
  }
  .logo__title {
    font-size: 21px;
  }
  .logo__subtitle {
    font-size: 12px;
  }
  .logo img {
    width: 59px;
    height: 69px;
  }
  .button-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .button-text {
    font-size: 25px;
  }
  .text {
    margin-top: 15px;
  }
}

@media screen and (max-width: 420px) {
  .text {
    margin-top: 10px;
    font-size: 16px;
  }
  .button-text {
    font-size: 23px;
  }
}

@media screen and (max-width: 315px) {
  .logo__content {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */
