@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}

html, body {
  position: relative;
  height: 100%;
}

.bg-about, .bg-news, .bg-maps {
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

.bg-about {
  background: url("../img/about_background.png") no-repeat 0 0;
}

.bg-news {
  background: url("../img/news.jpg") no-repeat 0 0;
}

.bg-maps {
  background: url("../img/maps_background.png") no-repeat 0 0;
}

body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 500;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #3CA647;
  width: 50%;
}

::-webkit-scrollbar {
  width: 8px;
  background: #01090a;
}

::-webkit-scrollbar-thumb {
  background: #10df1a;
}

::-webkit-scrollbar-thumb:active {
  background-color: #1c3236;
}

::-webkit-input-placeholder {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
}

.green {
  color: #5FFF5B;
}

.burger {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: none;
  position: relative;
  width: 34px;
  height: 23px;
}

.burger::before {
  content: '';
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}

.burger span {
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 10px;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 3px;
  background: #fff;
}

.burger::after {
  content: '';
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}

.button-green {
  display: inline-block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  padding: 26px 31px;
  opacity: 1;
  background: #04b415;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
  color: #FFFFFF;
}

.button-green.padding {
  padding: 28px 85px;
  font-size: 28px;
  line-height: 120%;
}

.button-green:hover {
  background: #17ce2a;
}

.button-text {
  display: inline-block;
  margin-right: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 122%;
  color: #FFFFFF;
  position: relative;
}

.button-text::after {
  content: url("../img/arrow.svg");
  -webkit-transition: 0.12s ease-in-out;
  transition: 0.12s ease-in-out;
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translate(100%, -15px);
          transform: translate(100%, -15px);
}

.button-text:hover::after {
  right: 3px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background: #0D1C1F;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.header__inner {
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1720px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1281px) {
  .logo:hover {
    margin-left: 8px;
  }
}

.logo__img {
  display: inline-block;
}

.logo__content {
  display: inline-block;
  margin-left: 9px;
}

.logo__title {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: inline-block;
  margin: 0px 10px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__link:hover {
  color: #d3d3d3;
}

.nav__link--active {
  color: #4ADC59;
}

.nav__link--active:hover {
  color: #4ADC59;
}

.intro {
  padding-top: 100px;
  overflow: hidden;
  min-height: 100vh;
  background: url("../img/intro_background.jpg") 0 0 no-repeat;
  background-position: left;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro__content-wrapper {
  width: 100%;
  min-height: 680px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.intro__content-wrapper::before {
  content: url("../img/renders/1.png");
  position: absolute;
  z-index: 2;
  right: 6.2%;
  bottom: 0;
  -webkit-transform: translateY(0.6%);
          transform: translateY(0.6%);
}

.intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.offer {
  max-width: 688px;
  position: relative;
  z-index: 3;
}

.offer__title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 98%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.offer__list {
  max-width: 542px;
  margin-top: 42px;
}

.offer__item {
  margin-top: 12px;
  position: relative;
  font-family: 'Scada', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 111%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding-left: 22px;
}

.offer__item:first-child {
  margin-top: 0;
}

.offer__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #50DF4D;
  border-radius: 50%;
}

.offer__button {
  margin-top: 50px;
}

.news {
  padding-top: 100px;
  overflow: hidden;
  min-height: 100vh;
}

.title {
  display: block;
  position: relative;
  z-index: 3;
  padding-top: 65px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about {
  background: url("../img/about_background.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.about__content-wrapper {
  min-height: 690px;
  padding-top: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-bottom: 35px;
  position: relative;
}

.about__content-wrapper::before {
  content: url("../img/renders/2.png");
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 6.2%;
  -webkit-transform: translateY(0.6%);
          transform: translateY(0.6%);
}

.about__group {
  position: relative;
  z-index: 15;
  margin-left: calc(6.2% + 570px);
}

.about__table {
  margin-left: auto;
  min-width: 647px;
  max-width: 1050px;
}

.about__content {
  background: linear-gradient(265.76deg, #081A1D 0%, #0D2A2F 78.06%);
  border-radius: 13px;
  padding: 35px;
}

.about__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__button {
  text-align: right;
  margin-top: 25px;
}

.about-page {
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.about-page__content {
  min-height: 690px;
  padding-top: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-bottom: 35px;
}

.maps {
  background: url("../img/maps_background.png") 0 0 no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maps::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.maps__content {
  margin-top: 80px;
  padding-bottom: 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maps__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.maps__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maps__button {
  position: relative;
  z-index: 3;
  margin-top: 130px;
}

.maps .map img {
  width: 100%;
}

.map {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  position: relative;
  z-index: 3;
  margin: 26px 7.5px 50px 7.5px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(-8px 8px 15px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(-8px 8px 15px rgba(0, 0, 0, 0.35));
  margin: 0 7.5px;
  max-width: 670px;
}

.map:first-child {
  margin-left: 0;
}

.map:last-child {
  margin-right: 0;
}

.map img {
  -webkit-box-shadow: inset 0px 5px 50px 50px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 5px 50px 50px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: block;
  width: 100%;
}

.map__preview {
  position: relative;
}

.map__preview::after {
  content: 'Посмотреть';
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 67px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.map__version {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  min-width: 138px;
  font-family: 'Scada', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 106%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8.75px 20px;
  background: #14202c;
  border-radius: 22px;
}

.map__title {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  min-width: 472px;
  font-family: 'Scada', sans-serif;
  font-weight: 400;
  font-size: 33px;
  text-transform: capitalize;
  line-height: 106%;
  color: #FFFFFF;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding: 13.45px 25px;
  background: #14202c;
  border-radius: 16px;
}

@media screen and (min-width: 1477px) {
  .map:hover .map__title {
    width: 100%;
    line-height: 150%;
    font-size: 35px;
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
  }
  .map:hover .map__version {
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
  }
  .map:hover .map__preview::after {
    opacity: 0.4;
  }
}

.map__content {
  display: none;
  width: 0%;
}

.text {
  margin-top: 20px;
  font-family: 'Mina', sans-serif;
  font-size: 25px;
  line-height: 119%;
  color: #FFFFFF;
}

.text:first-child {
  margin-top: 0;
}

.text.low {
  margin-top: 15px;
  font-size: 18px;
}

.text.trim {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maps-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maps-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  background: #000;
  opacity: 0.15;
  z-index: 1;
}

.maps-page .map {
  margin-top: 120px;
}

.maps-page .map:first-child {
  margin-left: 7.5px;
}

.maps-page .map:last-child {
  margin-right: 7.5px;
}

.maps-page__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.maps-page__group.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.maps-page__group.row .text.low {
  margin-top: 20px;
  font-size: 22px;
}

.maps-page__group.row .map {
  position: relative;
  min-height: 280px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 85%;
  background: #0D1C1F;
}

.maps-page__group.row .map:first-child {
  margin-top: 0;
}

.maps-page__group.row .map ._desktop {
  display: none;
}

.maps-page__group.row .map__content {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 30px;
}

.maps-page__group.row .map__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maps-page__group.row .map__titles h3 {
  display: inline-block;
}

.maps-page__group.row .map__version--mobile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: white;
  font-size: 23px;
}

.maps-page__group.row .map__title--mobile {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  margin-left: 15px;
}

.maps-page__group.row .map__view-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.maps-page__group.row .map__view {
  margin-top: auto;
  font-size: 25px;
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
}

.maps-page__group.row .map__preview {
  max-height: 280px;
  overflow: hidden;
  position: static;
}

.maps-page__group.row .map__preview::after {
  content: '';
}

.maps-page__group.row .map img {
  width: auto;
  height: 100%;
  background-size: cover;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.maps-page__menu-wrapper {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maps-page input {
  padding: 21px;
  background: #15272B;
  margin-right: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  border-radius: 8px 0 0 8px;
  width: 100%;
}

.menu {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0D1C1F;
}

.menu__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
}

.menu__button {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-right: 25px;
  position: relative;
}

.menu__button::before {
  content: attr(data-toast);
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  min-width: 100%;
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #000;
  opacity: 0;
  padding: 8px;
  border-radius: 5px;
  top: 0;
  left: 0;
  -webkit-transition: color 0.3s ease, opacity .2s ease;
  transition: color 0.3s ease, opacity .2s ease;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.menu__button:last-child {
  margin-right: 0;
}

.menu__button:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__button:hover::before {
  opacity: 1;
}

.menu__button.active {
  opacity: 0.8;
}

.menu__button.active::before {
  color: #4ADC59;
}

@media screen and (max-width: 1480px) {
  .intro__content-wrapper::before {
    right: 1%;
  }
  .about__content-wrapper::before {
    left: 1%;
  }
  .about__group {
    margin-left: calc(1% + 570px);
  }
}

@media screen and (max-width: 1471px) {
  .maps__button {
    margin-top: 60px;
  }
  .maps-page__menu-wrapper {
    margin-top: 30px;
  }
  .maps-page__group.row {
    margin-top: 50px;
  }
  .maps-page__group.row .text.low {
    margin-top: 15px;
    font-size: 18px;
  }
  .maps-page__group.row .map {
    min-height: 240px;
    margin: 18px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 80%;
    background: #0D1C1F;
  }
  .maps-page__group.row .map ._desktop {
    display: none;
  }
  .maps-page__group.row .map__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .maps-page__group.row .map__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maps-page__group.row .map__titles h3 {
    display: inline-block;
  }
  .maps-page__group.row .map__version--mobile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
  }
  .maps-page__group.row .map__title--mobile {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-left: 15px;
  }
  .maps-page__group.row .map__view-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .maps-page__group.row .map__view {
    margin-top: auto;
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
  }
  .maps-page__group.row .map__preview {
    max-height: 240px;
    overflow: hidden;
    position: relative;
    max-width: 40%;
  }
  .maps-page__group.row .map img {
    height: 100%;
    background-size: cover;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .maps-page__group.grid .map {
    margin-top: 90px;
    max-width: 530px;
  }
  .maps-page__group.grid .map img {
    width: 100%;
  }
  .maps-page__group.grid .map__version {
    font-size: 24px;
  }
  .maps-page__group.grid .map__title {
    min-width: 400px;
    font-size: 27px;
  }
}

@media screen and (max-width: 1394px) {
  .offer__title {
    font-size: 55px;
  }
  .offer__item {
    font-size: 25px;
  }
  .offer__button {
    font-size: 19px;
  }
  .title {
    font-size: 47px;
    line-height: 52px;
    padding-top: 45px;
  }
  .text {
    font-size: 23px;
  }
  .maps .text.low {
    margin-top: 15px;
    font-size: 18px;
  }
  .maps .map {
    min-height: 240px;
    margin: 18px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 80%;
    background: #0D1C1F;
  }
  .maps .map ._desktop {
    display: none;
  }
  .maps .map__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .maps .map__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maps .map__titles h3 {
    display: inline-block;
  }
  .maps .map__version--mobile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
  }
  .maps .map__title--mobile {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-left: 15px;
  }
  .maps .map__view-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .maps .map__view {
    margin-top: auto;
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
  }
  .maps .map__preview {
    max-height: 240px;
    overflow: hidden;
    position: relative;
    max-width: 40%;
  }
  .maps .map img {
    width: auto;
    height: 100%;
    background-size: cover;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 1270px) {
  .intro__content-wrapper::before {
    content: url("../img/renders/blocks.png");
    right: -6%;
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  .about__group {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__table {
    margin-left: 0;
  }
  .about__content-wrapper::before {
    content: '';
  }
}

@media screen and (max-width: 1200px) {
  .maps-page__group.grid .map {
    max-width: 450px;
  }
}

@media screen and (max-width: 1070px) {
  .intro__content-wrapper::before {
    content: '';
  }
}

@media screen and (max-width: 1000px) {
  .burger {
    position: absolute;
    z-index: 45;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 0;
    bottom: 10px;
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .burger.active span {
    opacity: 0;
  }
  .nav {
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #0D1C1F;
    visibility: hidden;
  }
  .nav__item {
    margin: 0;
    margin-top: 20px;
  }
  .nav__item:first-child {
    margin-top: 0;
  }
  .nav__link {
    font-size: 30px;
  }
  .nav.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .offer__title {
    font-size: 49px;
  }
  .offer__item {
    font-size: 21px;
  }
  .about {
    height: 100%;
    padding-bottom: 50px;
  }
  .about::after {
    height: 750px;
  }
  .about__group {
    margin-top: 55px;
  }
  .about__table {
    min-width: 0;
  }
  .about__content {
    padding: 30px;
  }
  .about__button {
    margin-top: 15px;
  }
  .text {
    font-size: 21px;
  }
  .maps__content {
    margin-top: 60px;
  }
  .maps .map:first-child {
    margin-top: 10px;
  }
  .map__version {
    font-size: 20px;
  }
  .map__title {
    font-size: 23px;
  }
  .title {
    font-size: 42px;
    line-height: 47px;
    padding-top: 45px;
  }
  .logo {
    position: relative;
    z-index: 45;
  }
  .logo__title {
    font-size: 21px;
  }
  .logo__subtitle {
    font-size: 12px;
  }
  .logo img {
    width: 59px;
    height: 69px;
  }
  .button-green {
    font-size: 18px;
  }
  .button-green.padding {
    font-size: 25px;
    padding: 28px 80px;
  }
  .button-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 969px) {
  .maps-page__group.grid .map {
    margin-top: 80px;
    max-width: 350px;
  }
  .maps-page__group.grid .map__version {
    min-width: 31%;
  }
  .maps-page__group.grid .map__title {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .maps .map {
    margin-top: 55px;
    min-width: 0;
    max-width: 500px;
    min-height: 0;
    max-height: 100%;
    display: block;
  }
  .maps .map ._desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .maps .map__content {
    display: none;
  }
  .maps .map__preview {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
  }
  .maps .map__preview::afrer {
    width: 100%;
    height: 100%;
  }
  .maps .map img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  .maps .map__title {
    min-width: 280px;
    display: inline-block;
  }
}

@media screen and (max-width: 900px) {
  .maps-page .menu {
    min-width: 80%;
  }
  .maps-page .menu__align {
    display: none;
  }
  .maps-page .menu input {
    margin-right: 0;
    border-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  .offer__title {
    font-size: 42px;
  }
  .offer__list {
    margin-top: 30px;
  }
  .offer__button {
    margin-top: 40px;
  }
  .about__text {
    font-size: 18px;
    letter-spacing: 0.25px;
  }
  .about__group {
    margin-top: 30px;
  }
  .about__content {
    padding: 20px;
  }
  .button-text {
    font-size: 25px;
  }
  .title {
    font-size: 35px;
  }
  .maps__content {
    margin-top: 65px;
  }
  .button-green.padding {
    padding: 25px 60px;
  }
  .text {
    margin-top: 15px;
  }
}

@media screen and (max-width: 510px) {
  .offer__title {
    font-size: 36px;
  }
  .offer__item {
    font-size: 19px;
  }
  .title {
    padding-top: 35px;
    font-size: 31px;
  }
  .text {
    margin-top: 10px;
    font-size: 16px;
  }
  .button-text {
    font-size: 23px;
  }
  .about__content {
    padding: 16px;
  }
  .button-green.padding {
    padding: 23px 45px;
    font-size: 20px;
  }
  .maps {
    min-height: 700px;
    padding-bottom: 0;
  }
  .maps__content {
    margin-top: 42px;
  }
  .maps-page__group.grid .map__version {
    min-width: 105px;
  }
  .maps-page__group.grid .map__title {
    min-width: 80%;
  }
}

@media screen and (max-width: 315px) {
  .logo__content {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */